h1 {
    border: 2px #eee solid;
    color: blue;
    text-align: center;
    padding: 10px;
}


th {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

td {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}





